div {
    margin: 50px;
}

h1 {
    font-size: 40px;
    font-family: JetBrains Mono;
}

h2 {
    font-size: 30px;
    font-family: JetBrains Mono;
}

p {
    font-family: JetBrains Mono;
    font-size: 18px;
}